name: Run API Tests

on:
  push:
    branches: [ main ]
  workflow_dispatch:   # must be inside "on"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Newman
        run: npm install -g newman

      - name: Run Collection
        run: newman run postman/collection.json -e postman/environment.json -r cli,html --reporter-html-export report1202.html
