name: Run API Tests

on:
  push:
    branches: [ main ]
  workflow_dispatch:   # must be inside "on"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Newman
        run: npm install -g newman

      - name: Run Collection
        run: newman run postman/bestbuy_collection1202.json -e postman/bestbuy_environment1202.json -r cli,html --reporter-html-export report1202.html
            
      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: report1202.html
